{% extends 'base.html.twig' %}

{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">

                    {#     Photo#}

                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="user-photo">
                                    <a href="#">

                                        <img src="user.image" alt="User Photo">


                                    </a>
                                </div><!-- /.user-photo -->
                            </div><!-- /.widget -->
                        </div>
                    </div>

                    {# Fin photo#}


                </div><!-- /.sidebar -->
            </div><!-- /.col-* -->

            <div class="col-sm-12 col-lg-12">
                <div class="content">

                    <div class="page-title">
                        <h1>Your profile</h1>
                    </div><!-- /.page-title -->

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Contact Information
                            <a href="/profile_update">
                                <button class="btn btn-primary">Edit</button>
                            </a>

                        </h3>

                        <div class="row">


                            <div class="col-sm-4">
                                <p>{{ user.email }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.emailPro }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.phoneNumber }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.VATNumber }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.website }}</p>
                            </div>

                            <div class="col-sm-4">
                                <p>{{ user.adressNum }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.adressStreet }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.postCode }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.locality }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.name }}</p>
                            </div>






                        </div><!-- /.row -->
                    </div>
                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Services
                        </h3>

                        <div class="row">

                            {% for service in user.services %}
                                <div class="col-sm-4">
                                    <p>{{ service }}</p>


                                </div>
                            {% endfor %}




                        </div>
                    </div>

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Stages
                            <a href="/add_internship">
                                <button class="btn btn-primary"> +Add an Internship </button>
                            </a>
                        </h3>

                        <div class="row">

                            {% for internship in user.internship %}
                                <div class="col-sm-4">
                                    <p>{{ internship.name }}</p>
                                    <div class="btn-group">
                                        <a href="/update_internship/{{ internship.id }}"><button class="btn btn-secondary">update</button></a>
                                        <a href="/delete_internship/{{ internship.id }}"><button class="btn btn-primary">remove</button></a>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>





                </div><!-- /.content -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.main-inner -->
    </div>
{% endblock %}

