{% extends 'base.html.twig' %}

{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">

                    {#     Photo#}

                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="user-photo">
                                    <a href="#">

                                        <img src="user.image" alt="User Photo">


                                    </a>
                                </div><!-- /.user-photo -->
                            </div><!-- /.widget -->
                        </div>
                    </div>

                    {# Fin photo#}


                </div><!-- /.sidebar -->
            </div><!-- /.col-* -->

            <div class="col-sm-12 col-lg-12">
                <div class="content">

                    <div class="page-title">
                        <h1>Your profile</h1>
                    </div><!-- /.page-title -->

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Contact Information
                            <a href="/profile_update">
                                <button class="btn btn-primary">Edit</button>
                            </a>

                        </h3>

                        <div class="row">


                            <div class="col-sm-4">
                                <p>{{ user.email }}</p>
                            </div>

                            <div class="col-sm-4">
                                <p>{{ user.adressNum }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.adressStreet }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.postCode }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.locality }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.name }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p>{{ user.firstname }}</p>
                            </div>






                        </div><!-- /.row -->
                    </div>






                </div><!-- /.content -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.main-inner -->
    </div>
{% endblock %}

