{% extends 'base.html.twig' %}
{% block form %}
{% endblock %}
{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">


                    <div class="col-sm-12 col-lg-9">
                        <div class="content">
                            {{ form_start(form) }}

                            {% set title = 'Edit Profile' %}
                            {% if app.user == null %}
                                {% set title = 'Register' %}
                            {% endif %}
                            <div class="page-title">
                                <h1>{{ title }}</h1>
                            </div><!-- /.page-title -->

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Profile Image

                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.profile_picture) }}
                                        {{ form_errors(form.profile_picture) }}
                                        {{ form_widget(form.profile_picture) }}
                                        {{ form_help(form.profile_picture) }}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>

                            {% if app.user == null %}

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Password

                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.password) }}
                                        {{ form_errors(form.password) }}
                                        {{ form_widget(form.password) }}
                                        {{ form_help(form.password) }}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.confirm_password) }}
                                        {{ form_errors(form.confirm_password) }}
                                        {{ form_widget(form.confirm_password) }}
                                        {{ form_help(form.confirm_password) }}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>

                            {% endif %}


                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Contact Information

                                </h3>

                                <div class="row">

                                    {% if user_type == 'surfer' %}
                                        <div class="form-group col-sm-4">
                                            {{ form_label(form.firstname) }}
                                            {{ form_errors(form.firstname) }}
                                            {{ form_widget(form.firstname) }}
                                            {{ form_help(form.firstname) }}
                                        </div><!-- /.form-group -->
                                    {% endif %}
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.name) }}
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name) }}
                                        {{ form_help(form.name) }}
                                    </div><!-- /.form-group -->

                                    {% block password %}
                                    {% endblock %}


                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.email) }}
                                        {{ form_errors(form.email)}}
                                        {{ form_widget(form.email) }}
                                        {{ form_help(form.email) }}
                                    </div><!-- /.form-group -->


                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.adress_street) }}
                                        {{ form_errors(form.adress_street) }}
                                        {{ form_widget(form.adress_street) }}
                                        {{ form_help(form.adress_street) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.adress_num) }}
                                        {{ form_errors(form.adress_num) }}
                                        {{ form_widget(form.adress_num) }}
                                        {{ form_help(form.adress_num) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.locality) }}
                                        {{ form_errors(form.locality) }}
                                        {{ form_widget(form.locality) }}
                                        {{ form_help(form.locality) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.post_code) }}
                                        {{ form_errors(form.post_code) }}
                                        {{ form_widget(form.post_code) }}
                                        {{ form_help(form.post_code) }}
                                    </div><!-- /.form-group -->
                                    {% if user_type == 'provider' or is_granted ('ROLE_ADMIN')%}
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.email_pro) }}
                                        {{ form_errors(form.email_pro) }}
                                        {{ form_widget(form.email_pro) }}
                                        {{ form_help(form.email_pro) }}
                                    </div><!-- /.form-group -->


                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.phone_number) }}
                                        {{ form_errors(form.phone_number) }}
                                        {{ form_widget(form.phone_number) }}
                                        {{ form_help(form.phone_number) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.website) }}
                                        {{ form_errors(form.website) }}
                                        {{ form_widget(form.website) }}
                                        {{ form_help(form.website) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.VAT_number) }}
                                        {{ form_errors(form.VAT_number) }}
                                        {{ form_widget(form.VAT_number) }}
                                        {{ form_help(form.VAT_number) }}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.services) }}
                                        {{ form_errors(form.services) }}
                                        {{ form_widget(form.services) }}
                                        {{ form_help(form.services) }}
                                    </div><!-- /.form-group -->






                                    {% endif %}








                                </div><!-- /.row -->
                            </div>
                            {% if user_type == 'provider' %}
                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Display Image

                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.vitrine_picture) }}
                                        {{ form_errors(form.vitrine_picture) }}
                                        {{ form_widget(form.vitrine_picture) }}
                                        {{ form_help(form.vitrine_picture) }}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                            {% endif %}
                            {% if user_type == 'surfer' %}
                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Subscribe

                                </h3>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        {{ form_label(form.newsletter) }}
                                        {{ form_errors(form.newsletter) }}
                                        {{ form_widget(form.newsletter) }}
                                        {{ form_help(form.newsletter) }}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                            {% endif %}

                            <div class="background-white p20 mb30">
                                <div class="row">
                                    <div class="form-group col-sm-8 mt50">
                                        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary pull-right'} }) }}
                                    </div><!-- /.form-group -->
                                </div>
                            </div>

                            {{ form_end(form) }}





                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div>

{% endblock %}