{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block main %}
<div class="main">
    <div class="main-inner">
        <div class="content">


            <div class="container">
                {% if is_granted ('ROLE_ADMIN') %}

                    <a href="{{ path('delete_service',{slug:service.slug}) }}" class="btn btn-xs btn-danger">Delete</a>
                    <a href="{{ path("update_service", {slug:service.slug}) }}" class="btn btn-xs btn-warning">Update</a>

                {% endif %}
                <div class="row detail-content">

                    <div class="col-sm-7">






                        <h1>They can do WHAAAT</h1>

                        <ul>
                            <img src="{{ service.vitrine }}" style="width: 400px;">

                            <li><strong>{{ service.name }}</strong></li>

                            <li>{{ service.description }}</li>
                        </ul>
                        <br/>
                    </div>
                    <div class=" col-sm-5">

                        <h1>Who else can manage that, you ask ?</h1>

                        <ul>
                            {% for provider in service.providers %}
                                <li><a href="/provider/{{ provider.slug }}">{{ provider.name }}</a></li>
                            {% endfor %}
                        </ul>


                    </div>

                </div>
                {% if is_granted ('ROLE_ADMIN') %}
                    <button class="btn btn-secondary " style="color:white"><a href="{{ path('service') }}" style="color:white">See services</a></button>

                {% endif %}
            </div>
        </div>
    </div>
</div>




                {% endblock %}
