{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}



{% block main %}



    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="block background-white background-transparent-image fullwidth">
                        <div class="page-header">
                            <h1>See all those service such waw</h1>
                            <p>List of most recent interesting places and events in our directory submitted <br>by our users. Check whats going on in the city now.</p>
                        </div><!-- /.page-header -->
                        <div class="cards-simple-wrapper">
                            <div class="row">








                       {% for service in services %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="card-simple" data-background-image="{{ service.vitrine }}" style="background-image: url(&quot;assets/img/tmp/product-9.jpg&quot;);">
                                        <div class="card-simple-background">
                                            <div class="card-simple-content">
                                                <h2><a href="/service/{{ service.slug}}">{{service.name}}</a></h2>



                                            </div><!-- /.card-simple-content -->



                                        </div><!-- /.card-simple-background -->
                                    </div><!-- /.card-simple -->
                                    {% if is_granted ('ROLE_ADMIN') %}

                                        <div>
                                            <a href="{{ path("service-detail", {slug:service.slug}) }}" class="btn btn-xs btn-primary">Detail</a>
                                            <a href="{{ path('delete_service',{slug:service.slug}) }}" class="btn btn-xs btn-danger">Delete</a>
                                            <a href="{{ path("update_service", {slug:service.slug}) }}" class="btn btn-xs btn-warning">Update</a>
                                        </div>
                                        <br>

                                    {% endif %}

                                </div><!-- /.col-* -->

                                {% endfor %}


                            </div><!-- /.row -->
                            {% if is_granted ('ROLE_ADMIN') %}

                                <a href="{{ path('admin_add_service') }}" class="btn btn-secondary">+ Add service</a>
                                <a href="{{ path('admin') }}" class="btn btn-info">See Providers</a>

                            {% endif %}
                            <div class="navigation">
                                {{ knp_pagination_render(services) }}
                            </div>
                        </div><!-- /.cards-simple-wrapper -->


                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
