{% extends 'base.html.twig' %}
{% block form %}
{% endblock %}
{% block main %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">



                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="message">
                                                        <h1>Welcome in Dashboard</h1>

                                                    </div><!-- /.message -->
                                                </div><!-- /.col-* -->
                                            </div><!-- /.row -->

                                            <div class="row">



                                            </div><!-- /.row -->



                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <h3>Providers<i class="fa fa-chevron-right"></i></h3>

                                                    <div class="users">
                                                        <table class="table">
                                                            <tbody>
                                                            {% for provider in providers %}
                                                            <tr>
                                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-1.jpg" alt=""></a></td>
                                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                                    <h2><a href="#">{{ provider.name }}</a></h2>
                                                                    <h3>Registered: {{ provider.registrationDate |date('d-m-Y') }}</h3>
                                                                    <h3>Number of services : {{ provider.services | length }}</h3>
                                                                </td>
                                                                <td class="right">

                                                                    <a href="{{ path("provider_admin_detail", {slug:provider.slug}) }}" class="btn btn-xs btn-primary">Detail</a>


                                                                </td>
                                                            </tr>
                                                            {% endfor %}


                                                            </tbody>
                                                        </table>
                                                        <a class="btn btn-primary" href="{{ path('admin_services') }}">See Services</a>
                                                    </div><!-- /.users -->
                                                    {{ knp_pagination_render(providers) }}
                                                </div><!-- /.col-* -->


                                            </div><!-- /.row -->
                                        </div><!-- /.col-* -->

                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    © 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div>
{% endblock %}