{% extends 'base.html.twig' %}
{% block form %}
{% endblock %}
{% block main %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">



                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="message">
                                                        <h1>Welcome in Dashboard</h1>

                                                    </div><!-- /.message -->
                                                </div><!-- /.col-* -->
                                            </div><!-- /.row -->

                                            <div class="row">



                                            </div><!-- /.row -->



                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <h3>Providers<i class="fa fa-chevron-right"></i></h3>

                                                    <div class="users">
                                                        <table class="table">
                                                            <tbody>
                                                            {% for service in services %}
                                                                <tr>
                                                                    <td><a class="user" href="#"><img src="assets/img/tmp/agent-1.jpg" alt=""></a></td>
                                                                    <td class="hidden-xs visible-sm visible-md visible-lg">
                                                                        <h2><a href="#">{{ service.name }}</a></h2>
                                                                        <h3>{{ service.description }}</h3>

                                                                    </td>
                                                                    <td class="right">

                                                                        <a href="{{ path('delete_service',{slug:service.slug}) }}" class="btn btn-xs btn-primary">Delete</a>
                                                                        <a href="{{ path("update_service", {slug:service.slug}) }}" class="btn btn-xs btn-primary">Update</a>


                                                                    </td>
                                                                </tr>
                                                            {% endfor %}


                                                            </tbody>
                                                        </table>
                                                        <a href="{{ path('admin_add_service') }}" class="btn btn-primary">Add service</a>
                                                    </div><!-- /.users -->

                                                </div><!-- /.col-* -->


                                            </div><!-- /.row -->
                                        </div><!-- /.col-* -->

                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    © 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div>

{% endblock %}