{% extends 'base.html.twig' %}

{% block title %}Providers{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">


                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">
                            {% if is_granted ('ROLE_ADMIN') %}
                            <a class="btn btn-primary mt50" href="{{ path('admin') }}">Back</a>
                            <a class="btn btn-warning mt50" href="{{ path('provider_update', {slug:provider.slug}) }}">Edit</a>
                            <a class="btn btn-danger mt50" href="#">Ban</a>
                            {% endif %}
                            <h1>Look at this looker</h1>
                            {% for image in provider.image %}
                                {% if image.type == "logo" %}
                                    <img src="uploads/profile_picture/{{ image.image }}">
                                    <p>{{ image.image}}</p>
                                {% endif %}

                                {% if image.type is same as("profile") %}
                                    <img src="{{ asset('uploads/profile_picture/plus-beau-visage-2017-5c8e5805b4f60.jpeg') }}" alt="">
                                    <p>{{ image.image }}</p>
                                {% endif %}
                            {% endfor %}






                        </div><!-- /.col-sm-7 -->
                        <div class="col-sm-5">

                            <div class="background-white p20">



                                {% if is_granted('ROLE_USER') %}


                                    <h1>What do you think about it</h1>
                                    <h3>Nombre de commentaires total : {{ provider.comment| length }}</h3>
                                    {{ form_start(form) }}



                                    <div class="detail-enquire-form background-white p20">
                                        <form method="post" action="?">
                                            <div class="form-group">
                                                {{ form_label(form.content) }}
                                                {{ form_errors(form.content)}}
                                                {{ form_widget(form.content) }}
                                                {{ form_help(form.content) }}
                                            </div><!-- /.form-group -->

                                            <div class="form-group">
                                                {{ form_label(form.evaluation) }}
                                                {{ form_errors(form.evaluation)}}
                                                {{ form_widget(form.evaluation) }}
                                                {{ form_help(form.evaluation) }}
                                            </div><!-- /.form-group -->


                                            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary btn-block pull-right'} }) }}

                                        </form>
                                        {{ form_end(form) }}
                                    </div>


                                {% endif %}


                            </div>
                            <ul>


                                <li><strong>{{ provider.name }}</strong></li>
                                <li><a href="mailto:{{ provider.email }}">{{ provider.email }}</a></li>
                                <li>{{ provider.phoneNumber }}</li>
                                <li><a href="{{ provider.website }}">{{ provider.website }}</a></li>
                                <li>{{ provider.adressStreet }}, {{ provider.adressNum }}</li>
                                <li>{{ provider.locality }} {{ provider.postCode }}</li>
                                <li>{{ provider.VATNumber }}</li>
                            </ul>
                            <br/>
                            <h1>What is it that they do</h1>

                            <ul>
                                {% for service in provider.services %}

                                    <li><a href="/service/{{ service.slug }}">{{ service.name }}</a></li>

                                {% endfor %}
                            </ul>







                        </div><!-- /.col-sm-5 -->




                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="reviews">
                                {% for comment in provider.comment %}
                                    <div class="review">


                                        <div class="review-inner">
                                            <div class="review-title">

                                                <h2>{{ comment.surfer.name }}</h2>
                                                <div class="review-overall-rating">
                                                    <span class="overall-rating-title">Total Score:</span>

                                                    {% set k = comment.evaluation %}
                                                    {% for i in range(1, k) %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}

                                                </div><!-- /.review-rating -->



                                            </div><!-- /.review-title -->

                                            <div class="review-content-wrapper">
                                                <div class="review-content">
                                                    <div class="review-pros">
                                                        <p>{{ comment.content }}</p>
                                                    </div><!-- /.pros -->

                                                </div><!-- /.review-content -->


                                            </div><!-- /.review-content-wrapper -->

                                        </div><!-- /.review-inner -->
                                    </div><!-- /.review -->


                                {% endfor %}
                            </div>

                        </div>
                    </div>

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div>









    </div>
{% endblock %}
