{% extends 'base.html.twig' %}

{% block title %}Providers{% endblock %}




{% block main %}



    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="block background-white background-transparent-image fullwidth">
                        <div class="page-header">
                            <h1>Such beautiful people</h1>
                            <p>List of most recent interesting places and events in our directory submitted <br>by our users. Check whats going on in the city now.</p>
                        </div><!-- /.page-header -->
                        <div class="cards-simple-wrapper">
                            <div class="row">







                                {% for provider in providers %}
                                    <div class="col-sm-6 col-md-3">
                                        {% for image in provider.image %}

                                        {% if image.type == "profile" %}
                                            <div class="card-simple" data-background-image="/uploads/profile_picture/{{ image.image }}">
                                        {% endif %}
                                        {% endfor %}
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">

                                                    <h2><a href="{{ path("provider_detail", {slug:provider.slug}) }}">{{ provider.name }}</a></h2>


                                                    <div class="card-simple-actions">
                                                        <p><a href="mailto:{{ provider.email }} ">{{ provider.email }} </a><br>{{ provider.phoneNumber }}<br>
                                                            <a href="{{ provider.website }}">{{ provider.website }}</a></p>

                                                        {% for image in provider.image %}
                                                        {% if image.type is same as("logo") %}
                                                            <img src="/uploads/profile_picture/{{ image.image }}" style="width:30%;">
                                                        {% endif %}
                                                        {% endfor %}



                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->





                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                        {% if is_granted ('ROLE_ADMIN') %}
                                        <div>
                                            <a href="{{ path("provider_detail", {slug:provider.slug}) }}" class="btn btn-xs btn-primary">Detail</a>
                                            <a href="{{ path("provider_update", {slug:provider.slug}) }}" class="btn btn-xs btn-warning">Edit</a>
                                            <a href="{{ path("banned",{slug:provider.slug}) }}" class="btn btn-xs btn-danger">Ban</a>

                                        </div>
                                        <br>
                                        {% endif %}


                                    </div><!-- /.col-* -->

                                {% endfor %}



                            </div><!-- /.row -->
                            {% if is_granted ('ROLE_ADMIN') %}
                            <a class="btn btn-info" href="{{ path('service') }}">See Services</a>
                            {% endif %}
                            <div class="navigation">
                                {{ knp_pagination_render(providers) }}
                            </div>
                        </div><!-- /.cards-simple-wrapper -->

                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
